@font-face {
    font-family: Georgia;
    src:
    url(../fonts/georgia.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
 }
@font-face {
    font-family: Georgia;
    src:
            url(../fonts/georgia_bold.ttf) format("truetype");
    font-style: normal;
    font-weight: bold;
}